/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img{
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: "Montserrat", sans-serif;
}

/* Root */
:root{
    --footer: 80px;
    --col-left: 150px;
    --color-grey: #d3d3d3;  
    --n-col: 6;
    --gap: 10px;
    --brightness: 1.75
}

/* Layout */
.wrapper{
    background-color: rgb(65, 247, 247);
    width: 100%;
    height: 100vh
}
.wrapper-horisontal{
    background-color: yellow;
    width: 100%;
    height: calc(100vh - var(--footer));
}

.col-left{
    height: 100%;
    width: var(--col-left);
    padding: 5px 10px;
    color: var(--color-grey);
    flex-direction: column;
}


.col-right{
    height: 100%;
    width: calc(100% - var(--col-left));
    background-color: brown;
}


/* Debug */ 
div{
    border: 1px solid green;
}




/* Utils */
.flex{
    display: flex;
}
.overflow-y{
    overflow-y: auto;
}
.flex-col{
    flex-direction: column;
}
ul{
    list-style: none;
}
.bg-black{
    background-color: black;
}
.bg-dark-blue{
    background-color: #141922;
}
.bg-light-black{
    background-color: #282828;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.pad-x-20{
    padding: 0px 20px;
}

/* Colonna di sinistra */
/* Logo */
.logo{
    width: 100%;
}
.logo-small{
    width: 30px;
    display: none;
}

/* Navigazione */
.nav-left{
    font-size: 0.8rem;
}
.nav-left img{
    width: 10%;
    display: inline-block;
}

.nav-left ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
}


/* Playlist */
.crea-playlist{
    padding: 5px 10px;
    background-color: var(--color-grey);
    color: black;
    font-size: 1.1rem;
    font-weight: 900;
}
.crea{
    align-items: center;
    gap: 5px;
}
.crea h4{
      font-size: 0.7rem;
}
.lista-playlist ul li{
    margin: 15px 0;
    font-size: 0.7rem;
}
/* Col-left bottom */
.col-left-bottom{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
.utente{
    width: 90%;
    align-items: center;
    gap: 10px;
    padding: 8px 5px;
    border-top: 1px solid white;

}
.utente img{
    width: 20px;
    border-radius: 50%;
    background-color: grey;
}
.download{
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 8px 5px 8px;
}
.download img{
    width: 20px;
}
.download span{
    font-size: 0.6rem;
}

/* Fine colonna di sinistra */

/* Colonna di destra */
/* Upgrade */
.upgrade{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: flex-end;
    position: sticky;
    top: 0;
}
.upgrade a {
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 15px 20px;
    color: var(--color-grey);
    font-size: 0.8rem;
}
/* Navigazione */
.nav-right{
    color: var(--color-grey);
    justify-content: center;
    width: 100%;
}
.nav-right ul{
    padding: 30px 0px 30px;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 0.8rem;
}

/* Titolo */
.title{
    color: var(--color-grey);
    font-size: 1.3rem;
}
/* Recently */
.recently{
    gap: var(--gap);
    flex-wrap: wrap;
}
.col-recently{
    width: calc((100% - (var(--gap)*(var(--n-col) - 1))) / var(--n-col));
}
.card-text{
    color: var(--color-grey);
    text-align: center;
    padding-top: 5px;
}
.card-img{
    position: relative;

}
.image-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-grey);
    font-size: 4rem;
    display: none;
}
/* Creato per */
.creato-per{
    gap: var(--gap);
}
.col-creato{
    width: calc((100% - (var(--gap)*(var(--n-col) - 1))) / var(--n-col));
}
/* Artisti popolari */
.col-popolari{
    width: calc((100% - (var(--gap)*(var(--n-col) - 1))) / var(--n-col));
}
.col-popolari .card-img{
    border-radius: 50%;
    overflow: hidden;
}
.popolari{
    gap: var(--gap);
}
.subtitle{
    color: var(--color-grey);
    margin-top: 10px;
    font-size: 0.6rem;
}

/* Fine Colonna di destra */

/* Footer */
.footer{
    width: 100%;
    height: var(--footer);
    justify-content: space-between;
}
.col-25-left{
    width: 200px;
    height: 100%;
    align-items: center;
}
.col-50{
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
/* Colonna sinistra footer */
.footer-img{
    width: 50px;
    margin: 0 10px;
}
.nome-brano{
    color: var(--color-grey);
}
.nome-brano h2{
    font-size: 0.8rem;
}
.nome-brano h3{
    font-size: 0.6rem;
}
.icone{
    font-size: 0.8rem;
   margin-left: 20px;
    color: var(--color-grey);
}
.fa-heart{
    margin-right: 5px;
}
/* Colonna destra Footer */
.col-25-right{
    width: 200px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    

}
.icone-right{
    color: var(--color-grey);
    font-size: 0.8rem;
    gap: 10px;
}
.volume{
    width: 60%;
    height: 5px;
    background-color: var(--color-grey);
    border-radius: 30px;
}
.volume-up{
    width: 30%;
    height: 5px;
    border-radius: 30px;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
}
/* Colonna centrale */
/* Palyer */
.player{
    font-size: 1rem;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    color: var(--color-grey);
}
.player .fa-play-circle{
    font-size: 1.5rem;
}
.brano{
    justify-content: center;
    align-items: center;
}
.brano span{
    color: var(--color-grey);
    font-size: 0.6rem;
}
.andamento{
    width: 60%;
    height: 5px;
    background-color: var(--color-grey);
    border-radius: 30px;
    margin: 0 30px;
}
.andamento-up{
    width: 30%;
    height: 5px;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    justify-content: flex-end;
}
.pallina{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    display: none;
}

/* Hover */
/* Brightness */
.nav-right ul li:hover{
    filter: brightness(var(--brightness));
}
.nav-left ul li:hover{
    filter: brightness(var(--brightness));
}
.crea-playlist:hover, .crea h4:hover{
    filter: brightness(var(--brightness));
}
.lista-playlist li:hover{
    filter: brightness(var(--brightness));
}
.nome-brano h3:hover{
    filter: brightness(var(--brightness));
    text-decoration: underline;
}
.icone li:hover{
    filter: brightness(var(--brightness));
}


/* Scale */
.player .fa-play-circle:hover{
    transform: scale(1.5);
}
.upgrade a:hover{
    transform: scale(1.1);
}

/* Players */
.andamento:hover{
    .andamento-up{
        background-color: green;
    }
    .pallina{
        display: block;
    }
}
.volume:hover{
    .volume-up{
        background-color: green;
    }
    .pallina{
        display: block;
    }
}

/* Hover immagini */
.card-img:hover{
    img{
        opacity: 50%;
    }
    .image-hover{
        display: block;
    }
}


